/* COLORS */
$black: #000000;
$blue-gray: #f1f6fc;
$blue-darkgray: #d4dbe3;
$blue-white: #fbfcfe;
$gray: #8E9892;
$green: #0f805d;
$purple: #6a107a;
$purple-shadow: #580d65;
$red: #ff8282;
$white: #ffffff;



/* VIEWPORTS */
$mobile-width-only: 767px;
$tablet-width: 768px;
// $tablet-width-only: 1439px;
$desktop-width: 1440px;
