.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__text {
  font-size: 11px;
  line-height: 13px;
  color: $black;
  background-color: $blue-gray;
}

.copyright__icon {
  display: grid;
  place-items: center;
  // fill: $grey-66;
  margin-left: 8px;
}
